@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;



@layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
  }


  @screen sm {
    .btn-sec {
      @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
    }
  }

  body {
    margin: 0;
    text-align: center;
  }


  h1 {
    margin-top: 0;
  }

  .top-container {
    background-color: #E4F9F5;
  }

  .middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
  }

  .bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;
  }

  .pro {
    text-decoration: underline;
  }
  /*.btn-sec {*/
  /*  width: 164px;*/
  /*  @screen sm {*/
  /*  width: 244px;*/
  /*  @apply mb-8;*/
  /*   }*/
  /* }*/

}

